<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/eef1870c-497c-44f6-8d92-4a95d4f286cb/resourcegroups/SkyKot_ResourceGroup/providers/Microsoft.ContainerRegistry/registries/KotClassLibrary20220701145443</ResourceId>
    <ResourceName>KotClassLibrary20220701145443</ResourceName>
    <ResourceGroup>SkyKot_ResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://kotclasslibrary20220701145443.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>