@inject SignInManager<CustomUser> signInManager;
@{
    ViewData["Title"] = "Rooms";
}

@if (signInManager.IsSignedIn(User))
{
    @if (User.IsInRole(Roles.Owner) || User.IsInRole(Roles.Admin))
    {
        <p>
            <a asp-action="Create">Create New Room</a>
        </p>
    }
}
<div>
    <component type="typeof(SkyKotApp.Blazor.Kot)" render-mode="Server" />
</div>