/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* General styles
-------------------------------------------------- */
.custom-background{
    background-position: center;
    background-size: cover;
}

.default-transition {
    transition: all .5s ease-in-out;
}

.home-background {
    background-position: center;
    background-size: cover;
    background-image: url('/Images/General/home_back.jpg');
    background-color: rgba(0,0,0, .4);
    background-blend-mode: overlay;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}
/* General styles
-------------------------------------------------- */
.carousel .carousel-inner {
    background-color: rgba(0,0,0, 1);
    border-radius: 10px;
}
.carousel-item {
    display: block !important;
    visibility: hidden;
    opacity: .3;
}
.carousel-item.active {
    visibility: visible;
    opacity: 1;
    transition: display 0s ease-in-out, opacity .5s ease-in-out;
}
    /* Modal
-------------------------------------------------- */
.modal,
.modal-dialog {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}
.modal .carousel-inner{

}

.modal-content {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important;
    background-color: rgba(0,0,0, .5) !important;
}
.modal-content .custom-background {
    border-radius: 10px;
    height: 80vh;
    width: 100%;
}
.modal-body{
    padding: 10px;
}
.modal-header{
    border: none;
    padding: 5px 20px;
}
.modal-footer {
    border: none;
    padding: 0 0 10px;
}

.modal-header .close{

}

.modal .modal-content .modal-footer button {
    margin: auto;
}
/* Sticky footer styles
-------------------------------------------------- */
    html {
        font-size: 14px;
    }
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.custom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.custom-container > div {
    margin-left: 10px;
    margin-bottom: 30px
}
/*spinner*/
.custom-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 100;
}

.show-spinner {
    visibility: visible;
}

/*Nav bar*/

body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar{

}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
}

@media (min-width: 992px) {
    #navbarSupportedContent ul{
        margin-left: auto !important;
    }
}
