@model ICollection<Room>
@{
    ViewData["Title"] = "Home";
}
<div class="home-background"></div>

<div class="text-center text-white mb-2">
    Let's increase your service and spare your time
</div>
<div class="custom-container">
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div><i class="fa-solid fa-gears" style="font-size:30px"></i></div>
                    <div>
                        <div class="media-body text-center h-100">
                            Manage your Houses and their Rooms easily and from wherever you are
                        </div>
                    </div>
                    <div>
                        <a class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div><i class="fa-solid fa-rectangle-ad" style="font-size:30px"></i></div>
                    <div>
                        <div class="media-body text-center h-100">
                            Make advertising for your Rooms at the same place
                        </div>
                    </div>
                    <div>
                        <a class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div><i class="fa-solid fa-check-to-slot" style="font-size:30px"></i></div>
                    <div>
                        <div class="media-body text-center h-100">
                            Manage the renters of your Rooms, Make easily digital contracts and follow which months they paid
                        </div>
                    </div>
                    <div>
                        <a class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div><i class="fa-solid fa-comments-dollar" style="font-size:30px"></i></div>
                    <div>
                        <div class="media-body text-center h-100">
                            Let your renters pay their charge easily online, and give them more benefits
                        </div>
                    </div>
                    <div>
                        <a class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr style="border-top: 1px solid white;"/>
    <h2 class="text-center text-white">Recently added</h2>
    <div class="custom-container" style="margin-top: 20px">
        <partial name="PartialRoomList" model="@Model" />
    </div>
    <a class="btn btn-primary d-block m-auto w-25" asp-controller="Room" asp-action="Index">More</a>
</div>