@model ICollection<Room>
@{
    ViewData["Title"] = "Home Page";
}
<div class="home-background"></div>

<div class="text-white m-2">
    Welkome
</div>
<div class="custom-container">
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div class="media flex-column align-items-center">
                        <div><i class="fa-solid fa-gears" style="font-size:30px"></i></div>
                        <div class="media-body">
                            Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde 
                        </div>
                    </div>
                    <div>
                        <a class="btn">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div class="media flex-column align-items-center">
                        <div><i class="fa-solid fa-rectangle-ad" style="font-size:30px"></i></div>
                        <div class="media-body m-2">
                            Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde 
                        </div>
                    </div>
                    <div>
                        <a class="btn">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 300px">
        <div class="card text-white card-has-bg click-col custom-background"
                style=" background-image: url('/Images/General/sky_back.jpg'); ">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <div class="media flex-column align-items-center">
                        <div><i class="fa-solid fa-check-to-slot" style="font-size:30px"></i></div>
                        <div class="media-body m-2">
                            Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde 
                        </div>
                    </div>
                    <div>
                        <a class="btn">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="border-top: 1px solid white;"/>
<h2 class="text-center text-white">Recently added</h2>
<div class="custom-container" style="margin-top: 20px">
    <partial name="PartialRoomList" model="@Model" />
</div>