@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedCultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name)}).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div style="display: none">
    <form method="post" asp-controller="Home" asp-action="CultureManagement" asp-route-returnUrl="@returnUrl">
        <select class="form-select" aria-label="Language"
            name="Culture" asp-for="@culture.RequestCulture.UICulture.Name"
            asp-items="cultureList"
            onchange="this.form.submit();"
            >

        </select>
    </form>
</div>
