@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<main class="form-signin w-100 m-auto">
    <form asp-action="Login">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <div class="form-floating">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
    <div class="text-center">
        <p>Not a member? <a asp-action="Register">Register</a></p>
        <p>or sign up with:</p>
        <a type="button" class="btn btn-link btn-floating mx-1" asp-controller="Account" asp-action="FacebookLogin">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a type="button" class="btn btn-link btn-floating mx-1" asp-controller="Account" asp-action="GoogleLogin">
            <i class="fab fa-google"></i>
        </a>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
